{% extends 'base.html' %}

{% block header %}
    <h1> {% block title %} Product Details {% endblock %} </h1>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-6">
                <img src="{{ item.picture }}" alt="{{ item.name }}" class="img-fluid"   >
            </div>
            <div class="col-6">
                <h4> {{ item.name }} </h4>
                <p> {{ item.description }} </p>
                <P> <a href="{{ url_for('editItemOfCategory', category = category, item_id = item.id) }}"> Edit </a> 
                    <a href="{{ url_for('deleteItemOfCategory', category = category, item_id = item.id) }}"> Delete </a></P>
            </div>
        </div>
    </div>
{% endblock %}