<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <p> {{ item.name }} </p>
    <p> {{ item.description }} </p>

    <P> <a href="{{ url_for('editItemOfCategory', category = category, item_id = item.id) }}"> Edit </a> 
        <a href="{{ url_for('deleteItemOfCategory', category = category, item_id = item.id) }}"> Delete </a></P>
</body>
</html>