{% extends 'base.html' %}

{% block header %}
  <h3>{% block title %}Recently added items to the catalog {% endblock %}</h3>
{% endblock %}

{% block content %}

<div class="container py-5 bg-faded">
    <div class="row">
        {% for item in items %}
        <div class="col-4 card">
            <a href="{{ url_for('displayItemOfCategory', category = item.category.name, item_id = item.id) }}"><img class="card-img-top" src="{{ item.picture }}" alt="Card image cap"></a>
            <a href="{{ url_for('displayItemOfCategory', category = item.category.name, item_id = item.id) }}" class="item-name">  {{ item.name }} </a>  <p class="item-price"> {{ item.price }}</p>
        </div>
        {% if loop.index % 3 == 0 %}
            <div class="w-100"></div>
        {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}
